// 抽屉切换

@keyframe extractNoop {
  from {
  	opacity: 1;
  }
  to {
  	opacity: 0.5;
  }
}

.vertical-extract-next-leave-active,
.vertical-extract-prev-leave-active,
.horizontal-extract-next-leave-active,
.horizontal-extract-prev-leave-active {
  animation: extractNoop $duration;
}

.vertical-extract-next-enter-active {
  animation: fadeInUp $duration;
}

.vertical-extract-prev-enter-active {
  animation: fadeInDown $duration;
}

.horizontal-extract-next-enter-active {
  animation: fadeInRight $duration;
}

.horizontal-extract-prev-enter-active {
  animation: fadeInLeft $duration;
}

